# IntelliJ IDEA 관련 파일 제외
.idea/
*.iml
*.iws
*.ipr

# 빌드 디렉터리 제외
/out/
build/
target/

# Gradle 관련 파일 제외
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Maven 관련 파일 제외
.mvn/
!mvn/wrapper/maven-wrapper.jar

# 로그 및 기타 임시 파일
*.log
*.tmp
*.swp
*.swo
*.bak
*.orig

# OS별 불필요한 파일 제외
.DS_Store
Thumbs.db
